Repository jenkinsci/build-failure-analyzer-plugin, pull requests merged in 2024-10, with the labels that each got.

#182 Require Java 17 and 2.475; adapt test suite to EE 9
  Jenkinsfile
  pom.xml
  src/main/java/com/sonyericsson/jenkins/plugins/bfa/CauseManagement.java
  src/main/java/com/sonyericsson/jenkins/plugins/bfa/model/FailureCause.java
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/CauseManagementHudsonTest.java
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/CauseManagementPermissionTest.java
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/PluginImplHudsonTest.java
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/model/FailureCauseHudsonTest.java
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/model/FailureCauseTest.java
Labels: dependencies, test

#181 Forward compatibility with recent versions of HtmlUnit
  src/test/java/com/sonyericsson/jenkins/plugins/bfa/model/FailureCauseHudsonTest.java
Labels: test

#180 Enable Jenkins Security Scan
  .github/workflows/jenkins-security-scan.yml
Labels: internal
